html{
    background:#99CCFF;
}
.taskbar{
    height: 40px;
    width:100%;
    position: absolute;
    background: #6699CC;
    opacity: 0.9;bottom:0;
    line-height: 40px;
    padding:0 8px;
    z-index: 10000
}
.taskbar .item{
    float:left;
    width:38px;
    margin:1px;
    height:38px;
}
.taskbar .item:hover,.taskbar .item-active{
    background: #FFFFCC;
}
.taskbar .item img{
    width:30px;
    height:30px;
    margin:4px;
}
.icon .item{
    margin:2px;
    width:80px;
    height: 90px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
}
.icon .item:hover{
    background: #99CCCC;
}
.icon .item .title{
    color: #fff;
    margin-top:6px;
    cursor:default;
}
.icon .item img{
    width:58px;
    height:58px;
}

.dialog{
    background: #fff;
    position: absolute;
}
.dialog .title{
    background: #CCCCFF;
    height:25px;
    padding:0 5px;
    line-height: 25px;
    cursor: move;
}
.dialog .title-active{
    background: #6699cc;
}
.dialog .resizer{
    width:0;
    height:0;
    position: absolute;
    bottom:-25px;
    right:0;
    cursor:nw-resize;
    border-bottom: 10px solid #6699CC;
    border-left: 10px solid transparent;
}
.dialog .controls{
    position: absolute;
    top:0;
    right:5px;
}
.dialog .control{
    float:right;
    cursor:default;
    width:20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    margin-top:3px;
}
.dialog .control:hover{
    background: #FFFFCC;
}
.dialog .mask{
    top:25px;
}
.dialog-anim{
    background: #6699cc;
}